/*スクロールダウン全体の場所*/
.aboutus {
  /*描画位置*/
  position: absolute;
  bottom: -156%;
  right: 50%;
}

/*Scrollテキストの描写*/
.aboutus span {
  /*描画位置*/
  /* position: absolute; */
  /* left:-10px;
  bottom:10px; */
  /*テキストの形状*/
  color: #000;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.aboutus:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*線の形状*/
  width: 1px;
  height: 200px;
  background: #d72020;
}